*{box-sizing: border-box;}

.row::after
{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]
{
    padding: 20px;
}

#cuerpo
{
    margin: 0;
    padding: 0;
    background-image: url("./img/logoESCOM.png");
    background-repeat: repeat;
    background-size: 285px 360px;
    
}

/* #medio
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    background-color: white;
    height: 100vh;
} */

.navbar
{
    background-color: #e3f2fd;
}

#LogoESCOMNav
{
    width: 95%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.menuPrin
{
    color: #3C9DDC;
}

.menuPrin:hover
{
    background-color: rgb(57, 123, 190);
    color: white;
    border-radius: 10px;
}

.activo
{
    background-color: rgb(57, 123, 190);
    color: white;
    border-radius: 10px;
}

#IPN
{
    color: rgb(102, 17, 17);
    font-style: inherit;
}

.error
{
    color: red;
}

#piePag
{
    background-color: #0a4275;
}

#derPiePag
{
    background-color: rgba(0, 0, 0, 0.2);
}